# Python Bytecode and Cache
__pycache__/
*.py[cod]
*$py.class

# Local Databases (Keep your schema migrations, track only code)
*.sqlite3

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables and Secrets
.env
.ini
*.env
*.secrets
secrets.json

# Django Media and Static files
media/
staticfiles/


# Log files
*.log
logs/

# Testing and Coverage
.coverage
htmlcov/
.pytest_cache/
.tox/

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

test.py