/* =========================
   CODE BLOCK CONTAINER
========================= */

div.codehilite {
    position: relative;
    background: #0b0f14;
    border: 1px solid #1f2a36;
    border-radius: 10px;
    overflow: hidden;
}

/* scrolling container */
div.codehilite pre {
    margin: 0;
    padding: 14px 14px 14px 52px;
    max-height: 420px;
    overflow: auto;
    background: transparent;
    color: #c9d1d9;
    font-family: "Fira Code", monospace;
    font-size: 13px;
    line-height: 1.5;
}

/* =========================
   CODE TEXT
========================= */

div.codehilite code {
    font-family: "Fira Code", monospace;
    font-size: 13px;
    color: #39ff14;
    display: block;
}

/* =========================
   LINE NUMBERS
========================= */
.codehilite code {
    display: block;
    counter-reset: line;
}

.codehilite .line {
    display: block;
    position: relative;
    padding-left: 10px;
}

.codehilite .line::before {
    content: counter(line);
    counter-increment: line;
    position: absolute;
    left: -38px;
    width: 30px;
    text-align: right;
    color: #4b5563;
    user-select: none;
}
/* reset counter */
div.codehilite code {
    counter-reset: line;
}

/* =========================
   COPY BUTTON
========================= */
.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    background: #111827;
    border: 1px solid #2a3441;
    color: #c9d1d9;

    font-size: 12px;
    padding: 4px 10px;
    border-radius: 6px;

    cursor: pointer;
    transition: 0.2s;
}

.copy-btn:hover {
    border-color: #3b82f6;
}